.leftfloat{
    float:left;
}

.rightfloat{
    float:right;
}

.clearfix::after,.clearfix::before{
	content:"";
	clear:both;
	display:table;
}

.page{
    width:97%;
    background-color: white;
    margin:0 auto;
}

.header-wrapper{
    width:100%;
}

.header-up{
    width:100%;
}

.head-top{
    display:none;
}

.cart.active{
    cursor: pointer;
}

.body-image img{

    object-fit:cover;
}

.alterhead-top{
    display:block;
    width:100%;
    background-color: #333333;
}

.header-div{
    width:90%;
    margin:0 auto;
    
}

.alterhead-top ul{
    width:40%;
    line-height:40px;
    padding-left:0px;
}

.alterhead-top ul li{
    float:right;
    list-style:none;
    display:inline;
    padding-left:20px;
}

.alterhead-top ul li a{
    text-decoration:none;
    color:white;
    font-family:'Montserrat';
    font-size:9px;
}

.alterhead-top ul li a:hover{
    color:lightgray;
}

.head-bottom{
    display:none;
   
}

.alterhead-bottom{
    width:100%;
    background-color:#F8F8F8;
    
}


.logo-text{
    width:30%;
    font-size:8px;
    line-height:50px;
}

.logo-text span.left{
    font-family:'Montserrat';
    font-weight:bold;
}

.logo-text span.right{
    font-family:'Montserrat';
   
}

.search{
    width:40%;
    position:relative;
    
    line-height:50px;
    margin-left:30px;
}


.searchicon a{
    text-decoration:none;
    color:black;
}

.searchicon a:hover{
    color:green;
} 

.searchicon{
    position:absolute;
    top:0;
    font-size:15px;
    top:3px;
    left:95%;
}

.search input{
    width:100%;
    padding-left:2px;
    padding-right:10px;
    height:30px;
    outline:0;
    border:none;
    background-color:lightblue;
    background-repeat:no-repeat;
}


.header-down{
    width:100%;
    height:200px;
    background-color: red;
    background-image:url('../images/darken.png');
    background-size:100% 100%;
    text-align:center;
}

.header-down p{
    padding-top:75px;
    color:white;
    
}

.header-down p.another{
    padding-top:0px;
    font-family: 'Montserrat';
    font-size:15px;
}

.header-down p span.left{
    font-family: 'Montserrat';
    font-weight:Bold;
    font-size:25px;
}

.header-down p span.right{
    margin-left:5px;
    font-family: 'Montserrat';
    font-size:25px;
}

.body-wrapper{
    margin-top:20px;
    width:100%;
}

.mobilebody-list{
    width:100%;
    padding:20px 0;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
}

.body-list-up{
    width:100%;
    line-height:50px;
    margin-bottom:20px;
    background-color:turquoise;
}


.body-list-up ul li{
    position:relative;
    list-style:none;
}

.body-list-up ul li a{
    padding-left:3px;
    text-decoration:none;
}

ul{
    padding-left:0px;
}

.far.fa-caret-square-down{
    line-height:50px;
    font-size:20px;
    margin-right:10px;
}

.body-list-up a{
    font-family:'Roboto';
    font-size:12px;
}

.navigation ul{
    width:100%;
    background-color:inherit;
    position:absolute;
    left:0;
    z-index:10;
    display:none;
}


.navigation a.navi{
    font-weight:bold;
    font-size:12.5px;
}

.navigation a{
    text-decoration:none;
    color:#5e5555;
    font-family:'Roboto';
    display:block;
}

.navigation ul li a
{
    text-align:center;
}
.navigation:hover ul{
    display:block;
}

.navigation:hover{
    background-color: lightblue;
}

.navigation ul li:hover{
    background-color: lightgray;
    padding-left:20px;
}


.body-card.jane
{
    position:relative;
    height:240px;
}

.body-card.win
{
    position:relative;
}

.body-display{
    position:relative;
    width:100%;
}

.info{
    width:40%;
    position:absolute;
    top:60%;
    left:30%;
    color:white;
    font-size:20px;
}

.info{
    display:none;
}

.body-image{
    position:relative;
    width:100%;
}

.body-image img{
    width:100%
}

.body-card{
    width:100%;
    margin-bottom:5px;
    position:relative;
}

.body-card.win{
    /* background-image:url('../images/replace2.png');
    background-size:100% 100%; */
    height:250px;
    background-color: #f2f2f2;
    background-repeat:no-repeat;
}

.body-card.win img
{
    width:100%;
    height:100%;
    object-fit:cover;
}

.body-card.jane{
    /* background-image:url('../images/replace.png');
    background-size:100% 100%; */
    background-repeat:no-repeat;
}

.text-div.slide
{
    left:45%;
}

.body-card.jane img
{
    width:100%;
    height:100%;
    object-fit:cover;
}

.body-image:hover .info{
    display:block;
}

.ref-info{
    position:absolute;
    top:3px;
    left:10px;
}

.ref-info span.initial{
    position:absolute;
    top:2px;
    left:0;
    font-size:7px;
    font-family:'Montserrat';
    padding-right:0;
    color:#cccccc;
}

.ref-info span.final{
    position:absolute;
    font-size:13px;
    top:0px;
    left:14px;
    padding-left:0;
    color:#bbbbbb;
    font-family:'Montserrat';
}

.info i:hover{
    color:lightgray;
}

.info a{
    text-decoration:none;
    color:white;
}

.text-div{
    position:absolute;
    left:5px;
    top:10px;
}

.text-div span.headingleft{
    font-family:'Montserrat';
    font-weight:Bold;
    color:#575153;
    font-size:24px;
}

.text-div span.headingright{
    font-family:'Montserrat';
    color:#575153;
    font-size:24px;
}

.body-card.win .text-div span.headingright{
    margin-left:3px;
}

.text-div span.sub-head{
    display:block;
    margin-top:5px;
    margin-bottom:10px;
    font-size:8px;
    font-family:'Montserrat';
    color:#727272;
}

.text-div p{
    margin-bottom:5px;
    width:40%;
    font-family:'Roboto';
    font-size:8px;
    color:#727272;
}

.text-div p.view{
    width:20%;
    margin-top:20px;
    text-align:center;
    border: 2px solid #737373;
    line-height:30px;
}

.text-div p.view a{
    text-decoration:none;
    display:block;
    font-family:'Montserrat';
    color:#454647;
    font-weight:bold;
    font-size:8px;
}

.text-div p.view a:hover{
    background-color:#00c8c8;
}


.footer-wrapper{
    width:100%;
}

.mobilefooter-up{

    width:100%;
    background-color: #f8f8f8;
}

.footer-container-mid{
    width:50%;
    margin: 0 auto;
}


.mobilefooter-content-up{
    width:100%;
    background-color: #f8f8f8;
}

.footer-content-lst{
    margin-top:10px;
  width:50%;
}

.footer-content-lst.mobile{
    display:none;
}

.footer-content-lst ul li{
    list-style:none;
    line-height:10px;
    font-size:5.5px;
    margin-bottom:4px;
}


.footer-content-lst ul li.head{
    font-family:'Montserrat';
    color:#575153;
    font-weight:bold;
    margin-bottom:10px;
} 

.footer-content-lst ul li{
    font-family:'Montserrat';
    color:#575153;
} 


.mobilefooter-image-division{
    width:100%;
}

.footer-image{
    width:100%;
}

.footer-image.first{
    margin-top:5px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #333333;
    color:white;
}

.footer-image.first span{
    display:block;
    text-align:center;
    font-family:'Montserrat';
    font-weight:'light';
}

.footer-image.first span.bold{
    font-family:'Montserrat';
    font-weight:bold;
}

.footer-image.second{
    margin-top:5px;
    line-height:60px;
    text-align:center;
    background-color:#2dd;
    font-size:20px;

}

.footer-image.second i{
    margin-left:20px;
}

.footer-image.second a i.fab.fa-facebook-f{
    margin-left:0px;
}

.footer-image.second a{
    text-decoration:none;
    color:white;
}

.footer-image.second a:hover{
    color:blue;
}

.footer-down{
    width:100%;
    margin-top:20px;
    background-color:#333333;
}

.copyright {
    width:50%;
    line-height:50px;
    font-family:'Montserrat';
    color:#777777;
    font-size:6px;
    font-weight:bold;
}

.developer-info{
    width:50%;
    display:none;
}

.body-slider{
    width:100%;
    position:relative;
    margin-top:20px;
}

.body-slider-mid{
    width:80%;
    position:relative;
    margin:0 auto;
}

.slider-content{
    width:90%;
    margin:0 auto;
}
.body-card.slide1
{
    width:100%;
    position:relative;    
}

.body-card.slide1 img
{
    width:100%;
    height:100%;
    object-fit:cover;    
}



.win-look{
    display:none;
}

 .text-div.slide{
    top:10px;
    width:50%;
 
}

 .text-div.slide p{
     margin-top:10px;
    width:100%;
}

 .text-div.slide span{
    width:100%;
    display:block;
    margin-left:0;
}

 .text-div.slide span.headingleft{
    width:100%;
    font-size:15px;
}

 .text-div.slide span.headingright{
    width:100%;
    font-size:15px;
}
 .text-div.slide p.view{
    margin-top:20px;
    width:60%;
}


.body-card.slide2{
    width:100%;
    position:relative;
    display:none;
}

.body-card.slide2 img{
    width:100%;
    height:100%;
    object-fit:cover;

}
.body-card.slide3{
    width:100%;
    
    display:none;
}

.body-card.slide3 img{
    width:100%;
    height:100%;
    object-fit:cover;

}

.body-left-slide{
    position:absolute;
    z-index:10;
    top:40%;
    left:-30px;
    color:#333333;
    font-size:50px;
    opacity:1;
}

.body-right-slide{
    position:absolute;
    z-index:10;
    top:40%;
    right:-30px;
    color:#333333;
    font-size:50px;
    opacity:1;
}


.body-list{
    display:none;
}

.lower-category{
    display:none;
}

.footer-up{
    display:none;
}

@media screen and (min-width:480px) {
    
    .page{
        width:97%;
        margin:0 auto;
    }

    .alterhead-top
    {
        display:none;
    }

    .head-top{
        display:block;
        width:100%;
        height:40px;
        background-color:#333333;
    }

    .header-updiv{
        width:100%;
        height:40px;
        margin:0 auto;
        
    }

    .left-drop{
        width:18%;
        position:relative;
        color:#999999;
        font-family:'Montserrat';
        font-size:9px;
        text-align:center;
        padding-left:3px;
        line-height:40px;
    }

    .left-drop span.text{
        margin-left:3px;
        
    }

    .left-drop span.currency{
        
        margin-left:2px;
    }

    .left-drop span i{
    
        margin-left:2px;
    }


    .cur-pop{
        position:absolute;
        z-index:5;
        top:40px;
        left:0;
        opacity:1;
        width:100%;
        display:none;
    }

    .cur-pop ul li{
        width:100%;
        font-family:'Montserrat';
        font-size:10px;
        background-color: #333333;
        line-height:40px;
        color:#999999;
        list-style:none;
    }

    .cur-pop ul li:hover{
        background-color: #2dd;
    }

    .left-drop:hover .cur-pop{
        display:block;
    }

    

    .right-menu{
        width:50%;
    }

    .register{
        width:60%;
        line-height:40px;
    }

    .register ul li{
        list-style:none;
        float:right;
        margin-left:20px;
    }

    .register ul li a{
        text-decoration:none;
        font-family:'Montserrat';
        color:#999999;
        font-size:10px;
    }

    .navigation ul li.mobile{
        display:none;
    }

    .upper-list ul li.mens,.womens{
        display:none;
    }

    .register ul li a:hover{
        color:white;
    } 

    .register ul li:first-child{
        margin-left:15px;
    }

    .body-image{
        position:relative;
        width:45%;
    }

    .cart{
        width:30%;
        line-height:40px;
        text-align:center;
        font-family:'Montserrat';
        font-size:9px;
        color:white;
    }

    .cart a{
        text-decoration:none;
        color:inherit;
        width:100%;
        
    }

    .cart i.fas.fa-shopping-cart{
        color:white;
        margin-left:5px;
        margin-right:5px;

    }


    .cart a span i.fas.fa-caret-down{
        margin-left:5px;
        color:white;
    }

    .cart:hover{
        background-color:gray;
    }

    .active{
        background-color: #2dd;
    }

    .alterhead-bottom{
        display:none;
    }

    .head-bottom{
        display:block;
        
        background-color: #F8F8F8;
    }

    .navigation a.navi
    {
        font-size:14px;
    }
    .logo-text{
        margin-left:5px;
        line-height:60px;
        width:20%;
    }

    .logo-text span{
        font-size:9px;
    }

    .logo-text span.right{
        margin-left:2px;
    }

    .upper-list{
        width:42%;
        margin-top:25px;
        margin-left:15px;
        margin-left:10px;
    }

    .upper-list ul li{
        position:relative;
        list-style:none;
        float:right;
        margin-right:5px;
        font-family:'Montserrat';
        font-size:8px;
    }

    .pop-up{
        display:none;
        box-shadow:1px 1px lightgray;
    }

    .upper-list ul li p{
        padding-left:5px;
    }


    .upper-list ul li span{
        display:block;
        text-align:center;
    }

    .upper-list ul li:hover{
        color:#2dd;

    }

    .upper-list ul li p a{
        text-decoration:none;
        color:inherit;
    }

    .upper-list ul li a.arrow{
        color:inherit;
        text-decoration:none;
    }

    .upper-list ul li.newactive:hover .pop-up{
        display:block;
    }

    .upper-list ul li:hover a.arrow span
    {
        margin-top:4px;
    }

    .search{
        line-height:60px;
        width:26%;
        margin-right:5px;
        margin-left:0;
    }

    .search input{
        width:98%;
        background-color:#F8F8F8;
        padding-right:0px;
        border:1px solid #e7e7e7;
    }

    .searchicon{
        left:87%;
        font-size:10px;
    }

    .pop-up{
        position:absolute;
        display:none;
        top:28px;
        width:400%;
        opacity:1;
        left:0;
        background-color:#f8f8f8;
    }

    .pop-up ul{
        margin-top:10px;
        width:40%;
    }

    .pop-up ul li{
        width:100%;
        list-style:none;
        line-height:15px;
        float:left;
        display:block;
    }

    .enclosure p.banner{
        width:100%;
        text-align:center;
        padding:15px 0px;
        margin-top:10px;
        margin-bottom:10px;
        background-color: #333333;
    }

    .text-div.slide{
        top:30px;
    }

    .enclosure p.banner span{
        display:block;
        text-align:center;
        font-family:'Montserrat';
        font-size:18px;
        margin-bottom:10px;
        color:white;
    }

    .text-div p.view a{
        font-size:10px;
    }

    .enclosure{
        width:90%;
        margin:0 auto;
    }

    .pop-up ul li:first-child{
        color:#575153;
        font-size:8px;
        margin-bottom:5px;
        font-family:'Montserrat';
        font-weight:bold;
    }

    .enclosure p.banner span.main{
        font-weight:bold;
        margin-bottom:0px;
    }

    .enclosure p.banner span.sub{
        margin-top:0px;
    }
    

    .pop-up ul li span{
        float:left;
    }

    .pop-up ul li a{
        text-decoration:none;
        color:#575153;
        float:left;
        font-size:8px;
        font-family:'Montserrat';
    }

    .pop-up ul li a:hover{
        color:#2dd;
    }

    

    .footer-container-mid{
        width:70%;
        margin: 0 auto;
    }

    .footer-content-lst{
        margin-top:10px;
      width:33%;
    }

    .footer-content-lst ul li
    {
        font-size:7px;
    }

    .footer-content-lst.mobile{
        display:block;
    }

    .copyright{
        width:25%;
    }

    .developer-info{
        width:75%;
        display:block;
    }

    .developer-info ul{
        float:right;
        line-height:50px;
    }

    .developer-info ul li{
        list-style:none;
        color:#777777;
        font-family:'Montserrat';
        font-size:5px;
        font-weight:bold;
        float:left;
        margin-left:10px;
    }

    .win-look{
        display:none;
    }

    
}

@media screen and (min-width:768px)
{

    .page{
        width:97%;
        margin:0 auto;
    }

    .alterhead-top
    {
        display:none;
    }

    

    

    .head-top{
        display:block;
        width:100%;
        height:40px;
        background-color:#333333;
    }

    .header-updiv{
        width:65%;
        height:40px;
        margin:0 auto;
        
    }

    .left-drop{
        width:18%;
        position:relative;
        color:#999999;
        font-family:'Montserrat';
        font-size:10px;
        line-height:40px;
    }

    .left-drop span.text{
        margin-left:3px;
        
    }

    .left-drop span.currency{
        
        margin-left:2px;
    }

    .left-drop span i{
    
        margin-left:2px;
    }


    .cur-pop{
        position:absolute;
        z-index:5;
        top:40px;
        left:0;
        opacity:1;
        width:100%;
        display:none;
    }

    .cur-pop ul li{
        width:100%;
        font-family:'Montserrat';
        font-size:10px;
        background-color: #333333;
        line-height:40px;
        color:#999999;
        list-style:none;
    }

    .cur-pop ul li:hover{
        background-color: #2dd;
    }

    .left-drop:hover .cur-pop{
        display:block;
    }

    .right-menu{
        width:50%;
    }

    .register{
        width:60%;
        line-height:40px;
    }

    .register ul li{
        list-style:none;
        float:right;
        margin-left:20px;
    }

    .register ul li a{
        text-decoration:none;
        font-family:'Montserrat';
        color:#999999;
        font-size:10px;
    }

    .register ul li a:hover{
        color:white;
    } 

    .register ul li:first-child{
        margin-left:15px;
    }

    .cart{
        width:30%;
        line-height:40px;
        font-family:'Montserrat';
        font-size:10px;
        color:white;
    }

    .cart i.fas.fa-shopping-cart{
        color:white;
        margin-left:5px;
        margin-right:5px;

    }

    .cart span i.fas.fa-caret-down{
        margin-left:5px;
        color:white;
    }

    .cart:hover{
        background-color:gray;
    }

    .active{
        background-color: #2dd;
    }

    .alterhead-bottom{
        display:none;
    }

    .head-bottom{
        display:block;
        line-height:60px;
        background-color: #F8F8F8;
    }

    .logo-text{
        width:20%;
        line-height:60px;
        margin-left:45px;
    }

    .logo-text span{
        font-size:15px;
    }

    .logo-text span.right{
        margin-left:2px;
    }

    .upper-list{
        width:45%;
        margin-top:30px;
        margin-left:25px;
    }

    .upper-list ul li{
        float:right;
    }

    .upper-list ul li.mens,.womens{
        display:block;
    }

    .upper-list ul li{
        position:relative;
        margin-right:8px;
        list-style:none;
        line-height:5px;
        float:right;
        font-family:'Montserrat';
        font-size:9px;
    }

    .upper-list ul li p a{
        text-decoration:none;
        color:inherit;
    }

    

    .upper-list ul li p
    {
        padding-left:5px;
    }

    .upper-list ul li span{
        margin-top:5px;
        display:block;
        text-align:left;
        margin-left:4px;
    }


    .upper-list ul li:hover{
        color:#2dd;

    }

    .upper-list ul li.newactive:hover .pop-up{
        display:block;
    }

    .upper-list ul li:hover span{
        margin-top:8px;
    }

    .body-card.slide2{
        display:block;
    }

    .body-card.slide3{
        display:block;
    }



    .pop-up{
        position:absolute;
        display:none;
        top:28px;
        width:400%;
        opacity:1;
        left:0;
        background-color:#f8f8f8;
    }

    .pop-up ul{
        margin-top:10px;
        width:40%;
    }

    .pop-up ul li{
        width:100%;
        list-style:none;
        line-height:20px;
        float:left;
        display:block;
    }

    .enclosure p.banner{
        width:100%;
        text-align:center;
        padding:30px 0px;
        margin-top:10px;
        margin-bottom:10px;
        background-color: #333333;
    }

    .enclosure p.banner span{
        display:block;
        font-family:'Montserrat';
        font-size:18px;
        margin-bottom:10px;
        color:white;
    }


    .enclosure{
        width:90%;
        margin:0 auto;
    }

    .pop-up ul li:first-child{
        color:#575153;
        font-size:8px;
        margin-bottom:5px;
        font-family:'Montserrat';
        font-weight:bold;
    }

    .enclosure p.banner span.main{
        font-weight:bold;
        margin-bottom:14px;
    }
    

    .pop-up ul li span{
        float:left;
    }

    .pop-up ul li a{
        text-decoration:none;
        color:#575153;
        float:left;
        font-size:8px;
        font-family:'Montserrat';
    }

    .pop-up ul li a:hover{
        color:#2dd;
    }

    .header-down{
        height:250px;
        padding-bottom:15px;
       

    }

    .header-down p{
        padding-top:90px;
        margin-bottom:4px;
        font-size:28px;
    }

    .header-down p.another{
        font-size:18px;
    }

    .search{
        line-height:60px;
        width:12%;
        margin-right:9.2783%;
        margin-left:0;
    }

    .search input{
        width:98%;
        background-color:#F8F8F8;
        padding-right:0px;
        border:1px solid #e7e7e7;
    }

    .searchicon{
        left:90%;
    }

    .mobilebody-list{
        display:none;
    }

    .body-list{
        display:block;
    }

    .body-list{
        width:90%;
        margin:0 auto;
        padding:10px 0;
        border-top:1px solid #eeeeee;
        border-bottom:1px solid #eeeeee;
    }

    .body-list-up{
        width:100%;
        background-color: #ffffff;
        line-height:44px;
    }


    .body-list-up.listed ul
    {
        margin-left:5px;
    }

    .body-list-up.listed ul li{
        float:left;
        margin-right:15px;
    }

    .body-list-up.listed ul li a{
        font-family:'Montserrat';
        font-size:9px;
        color:#727272;
    }

    .body-list-up.listed ul li a:hover{
        color:#2dd;
    }

    .body-image{
        width:23%;
        position:relative;
        margin-right:10px;
        margin-bottom:12px;
    }

    .body-image img{
        width:100%;
        height:240px;
        display:block;
    }

    .body-card.win{
        height:240px;
    }

    .body-card.jane .text-div{
        top:10px;
    }

    .body-card.win .text-div{
        top:10px;
    }

    .one,.three{
        margin-left:13px;
    }


    .body-card.jane
    {
        width:47.5%;
        
    }

    .body-card{
        height:200px;
        margin-bottom:12px;
    }


    .body-card.win{
        width:71.6%;
        margin-left:13px;
        margin-right:10px;
    }


    .body-card .text-div span{

        font-size:12px;
    }

    .text-div{
        margin:5px 0 0 10px;
        top:0;
        left:0;
    }

    .body-card .text-div span.sub-head{
        font-size:8px;
    }

    .text-div p.view a{
        font-size:9px;
    }

    .text-div p.view{
        width:80px;
        margin-bottom:7px;
        border:1px solid #737373;
    }

    .body-slider{
        display:none;
    }

    .lower-category{
        width:100%;
        position:relative;
        margin-top:20px;
        display:block;
        margin-bottom:10px;
    }

    .lower-category .body-card{
        width:32%;
     }

    .lower-category .body-card.slide3{
        margin-right:0px;
    }

    .lower-category .body-card.slide2{
        margin-left:16px;
    }

    .ref-info{
        left:3px;
    }

    .mobilefooter-up{
        display:none;
    }

    .footer-up{
        display:block;
        width:100%;
    }

    .footer-content-up{
        margin-bottom:10px;
    }

    .footer-container{
        width:70%;
        margin:0 auto;
    }

    .footer-container-mid{
        width:70%;
    }

    .footer-content-lst{
        width:19%;
        margin-right:5px;
    }

    .footer-image{
        width:48%;
    }

    .footer-image.second{
        line-height:78.5px;
    }

    .footer-image-division{
        width:100%;
        margin-top:15px;
    }

    .developer-info{
        display:block;
        width:60%;
        line-height:50px;
    }

    .developer-info ul{
        float:right;
    }
    .developer-info ul li{
        list-style:none;
        color:#777777;
        font-family:'Montserrat';
        font-size:8px;
        font-weight:bold;
        float:left;
        margin-left:10px;
    }

    .win-look{
        display:none;
    }

}


@media screen and (min-width:1024px){
    
    .page
    {
        max-width:100em;
    }

    .left-drop span{
        float:left;
        font-size:12px;
    }

    .left-drop span i{
        margin-left:5px;
    }


   .right-menu{
        width:50%;
    }

    .register{
        width:60%;
        line-height:40px;
    }

    .register ul li{
        margin-left:20px;
        float:right;
        
    }

    .register ul li a{
        font-size:12px;
    }


    .register ul li:first-child{
        margin-left:40px;
    }


    .head-bottom{
        display:block;
        line-height:80px;
        background-color: #F8F8F8;
    }

    .logo-text{
        margin-left:85px;
    }

    .logo-text span{
        font-size:20px;
    }

    .logo-text span.right{
        margin-left:2px;
    }

    .upper-list{
        width:45%;
        margin-top:30px;
        
        
    }

    .upper-list ul li{
        font-size:11px;
        float:right;
        margin-left:10px;
    }

    .upper-list ul li a{
        text-decoration:none;
       
    }

    .upper-list ul li a:hover{
        color:#2dd;
    }

    .pop-up ul li:first-child span{
        margin-left:9px;
    }

    .pop-up ul li a{
        margin-left:9px;
    }

    .body-image img
    {
        width:100%;
        height:300px;
        display:block;
    }

    .body-image{
        width:22.5%;
    }

  
    .body-card.jane  
    {
        height:300px;
    }

    .body-card.win{
        height:300px;
    }
    .body-card.slide2{
        display:block;
    }

    .body-card.slide3{
        display:block;
    }


    .header-down{
        height:250px;
        padding-bottom:15px;
       

    }

    .mobilebody-list{
        display:none;
    }


    .body-list-up.listed ul li a{
        
        font-size:11px;
    }

    .body-list-up.listed ul li a:hover{
        color:#2dd;
    }


    .one,.three{
        margin-left:13px;
    }


    .body-card{
        height:300px;
        margin-bottom:12px;
    }


    .body-card .text-div span{

        font-size:12px;
    }

    .text-div{
        margin:20px 0 0 20px;
        top:0;
        left:0;
    }

    .text-div p{
        font-size:11px;
        margin-bottom:12px;
    }

    .text-div span.headingleft{
        font-size:24px;
    }

    .text-div span.headingright{
        font-size:24px;
    }

    .body-card .text-div span.sub-head{
        font-size:15px;
    }


    .text-div p.view a{
        font-size:12px;
    }


    .lower-category{
        width:100%;
        margin-top:20px;
        display:block;
        margin-bottom:10px;
    }

    .info{
        left:27%;
    }
    
    .info i{
        font-size:30px;
    }
    .lower-category .body-card{
        width:32%;
     }

    .lower-category .body-card.slide3{
        margin-right:0px;
    }

    .lower-category .body-card.slide2{
        margin-left:16px;
    }

    .ref-info{
        left:5px;
    }

    .footer-content-lst{
        width:19%;
        margin-right:5px;
    }

    .footer-content-lst ul li.head{
        font-size:10px;
        margin-bottom:10px;
    }

    .footer-content-lst ul li{
        font-size:9px;
        margin-bottom:4px;
    }

    .copyright{
        font-size:8px;
    }

    .developer-info{
        font-size:8px;
    }

    .pop-up ul li:first-child{
        font-size:10px;
    }

    .pop-up ul li a{
        font-size:9px;
    }

    .header-down p span.left{
        font-size:35px;
    }

    .header-down p span.right{
        font-size:35px;
    }

    .header-down p.another{
        font-size:24px;
    }

    .lower-category .body-card.slide2{
        margin-left:32px;
    } 

    .text-div.slide{
        margin-right:10px;
    }

    .developer-info ul li{
        font-size:11px;
    }

    .body-image.one{
        margin-left:35px;
    }

    .body-image.three{
        margin-left:35px;
    }

    .body-card.win{
        width:69.8%;
        margin-left:35px;
        position:relative;
    }

    .win-look{
        display:block;
        position:absolute;
        right:5%;
        top:15%;
    }

    .win-look span{
        display:block;
        float:right;

        font-family:'Montserrat';
        color:#2dd;
    }

    .win-look p span.up{
        font-size:125px;
        font-weight:900;
        padding:0;
    }

    .win-look p span.down{
        padding:0;
        font-size:45px;
        font-weight:900;
        margin-top:-25px;
    }


    .body-card.jane{
        width:46%;
        
    }

    .text-div.slide{
        left:40%;
    }

    .footer-image a i{
        font-size:30px;
        margin-left:35px;
        margin-right:20px;
    }

    .body-card.slide1 img{
        object-position:20% 5%;
        object-fit:cover;
    }

    .body-card.slide2 img{
        object-position:20% 5%;
        object-fit:cover;
    }

    .body-card.slide3 img{
        object-position:20% 5%;
        object-fit:cover;
    }

}

@media screen and (min-width:1500px)
{
    .body-image
    {
        width:23.5%;
        margin-right:10px;
    }

    .body-card.jane{
        width:47.5%
    }

    .body-card.win{
        width:72%
    }
}
